<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="edu.uoregon.brt.kioskmode"
	version="1.0.0">
	<name>KioskMode</name>
	<description>A Cordova plugin that provides access to Android’s screen pinning APIs.</description>
	<keywords>cordova,android,screen pinning,startLockTask,stopLockTask,Kiosk Mode,Kiosk,kioskmode,lollipop,api 21</keywords>
	<license>MIT</license>
	<engines>
		<engine name="cordova" version=">=3.0.0"/>
	</engines>
	<js-module src="www/KioskMode.js" name="KioskMode">
		<clobbers target="plugins.KioskMode" />
	</js-module>
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="KioskMode">
				<param name="android-package" value="edu.uoregon.brt.kioskmode" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.WAKE_LOCK" />
		</config-file>
		<source-file src="src/android/edu/uoregon/brt/plugins/KioskMode.java" target-dir="src/edu/uoregon/brt/plugins"/>
	</platform>
</plugin>
